.app {
  text-align: center;
  margin-top: 50px;
}

.click-counter h1 {
  font-size: 2em;
  color: #333;
}

.click-button,
.reset-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.click-button:hover,
.reset-button:hover {
  background-color: #e8d199;
}

.click-button:active,
.reset-button:active {
  transform: scale(0.95);
}

.click-button {
  background-color: #007bff;
  color: white;
}

.reset-button {
  background-color: #dc3545;
  color: white;
}
